<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="wxp"
            id="com.wxp.Favorites">
      </category>
      <view
            id="com.wxp.favorites.views.FavoritesView"
            name="Favorites"
            icon="icons/sample.png"
            class="com.wxp.favorites.views.FavoritesView"
            category="com.wxp.Favorites"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the Favorites View"
            id="com.wxp.favorites.commands.category"
            name="Favorites">
      </category>
      <command
            categoryId="com.wxp.favaorites.commands.category"
            description="Open the Favorites view if it is not already visible"
            id="com.wxp.favorites.commands.openView"
            name="Open Favorites View">
      </command>
      <command
            categoryId="com.wxp.favorites.commands.category"
            description="Add selected items to the Favorites view"
            id="com.wxp.favorites.commands.add"
            name="Add">
      </command>
      <command
            categoryId="com.wxp.favorites.commands.category"
            description="Copy selected items in the Favorites view"
            id="com.wxp.favorites.commands.copy"
            name="Copy">
      </command>
      <command
            categoryId="com.wxp.favorites.commands.category"
            description="Cut selected items from the Favorites view"
            id="com.wxp.favorites.commands.cut"
            name="Cut">
      </command>
      <command
            categoryId="com.wxp.favorites.commands.category"
            description="Paste clipboard contents into the Favorites view"
            id="com.wxp.favorites.commands.paste"
            name="Paste">
      </command>
      <command
            categoryId="com.wxp.favorites.commands.category"
            description="Rename the selected entry in the Favorites view"
            id="com.wxp.favorites.commands.rename"
            name="Rename">
      </command>
      <command
            categoryId="com.wxp.favorites.commands.category"
            description="Delete the selected entries in the Properties Editor"
            id="com.wxp.properties.editor.delete"
            name="Delete">
      </command>
      <command
            categoryId="com.wxp.favorites.commands.category"
            description="Delete the selected resources"
            id="com.wxp.favorites.commands.delete"
            name="Delete">
      </command>
      <command
            categoryId="com.wxp.favorites.commands.category"
            defaultHandler="com.wxp.favorites.handlers.SimulatedOperationHandler"
            description="A do nothing operation that shows simulated progress in the Window&apos;s status bar"
            id="com.wxp.favorites.commands.simulated"
            name="Simulated Operation showing progress in Status Bar">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.wxp.favorites.menus.favoritesMenu"
               label="Favorites"
               mnemonic="v">
            <command
                  commandId="com.wxp.favorites.commands.openView"
                  icon="icons/sample.png"
                  id="com.wxp.favorites.menus.openFavoritesView"
                  mnemonic="O"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <equals
                              value="com.wxp.favorites.workbenchActionSet">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.wxp.favorites.toolbars.main">
            <command
                  commandId="com.wxp.favorites.commands.openView"
                  icon="icons/sample.png"
                  id="com.wxp.favorites.toolbars.openFavoritesView"
                  tooltip="Open the Favorites view">
                  <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <equals
                              value="com.wxp.favorites.workbenchActionSet">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Favorites">
            <command
                  commandId="com.wxp.favorites.commands.add"
                  icon="icons/sample.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <or>
                              <instanceof
                                    value="org.eclipse.core.resources.IResource">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.jdt.core.IJavaElement">
                              </instanceof>
                           </or>
                           <test
                                 property="com.wxp.favorites.notFavorite">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ProblemView?after=additions">
         <command
               commandId="com.wxp.favorites.commands.openView"
               icon="icons/sample.png"
               tooltip="Open the Favorites view">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.views.ProblemView?after=additions">
         <command
               commandId="com.wxp.favorites.commands.openView"
               icon="icons/sample.png"
               tooltip="Open the Favorites view">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.views.ProblemView?after=additions">
         <command
               commandId="com.wxp.favorites.commands.openView"
               icon="icons/sample.png"
               tooltip="Open the Favorites view">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:window?after=additions">
         <command
               commandId="com.wxp.favorites.commands.openView"
               icon="icons/sample.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.ui.DefaultTextEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.wxp.favorites.views.FavoritesView?before=edit">
         <command
               commandId="com.wxp.favorites.commands.cut"
               icon="icons/cut_edit.gif"
               tooltip="Cut the currently selected items from the Favorites view">
         </command>
         <command
               commandId="com.wxp.favorites.commands.paste"
               icon="icons/paste_edit.gif"
               tooltip="Paste clipboard contents into the Favorites view">
         </command>
         <command
               commandId="com.wxp.favorites.commands.copy"
               icon="icons/copy_edit.gif"
               tooltip="Copy the currently selected items in the Favorites view">
         </command>
         <command
               commandId="com.wxp.favorites.commands.rename"
               tooltip="Rename the currently selected Favorites item">
         </command>
         <command
               commandId="com.wxp.favorites.commands.delete"
               icon="icons/delete_edit.gif"
               style="push"
               tooltip="Delete the currently selected resources">
         </command>
         <command
               commandId="com.wxp.favorites.commands.simulated"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.wxp.properties.editor?after=edit">
         <command
               commandId="com.wxp.properties.editor.delete"
               icon="icons/delete_edit.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.wxp.favorites.commands.cut"
               icon="icons/cut_edit.gif"
               tooltip="Cut the currently selected items from the Favorites view">
	        </command>
	        <command
	               commandId="com.wxp.favorites.commands.paste"
	               icon="icons/paste_edit.gif"
	               tooltip="Paste clipboard contents into the Favorites view">
	        </command>
	        <command
	               commandId="com.wxp.favorites.commands.copy"
	               icon="icons/copy_edit.gif"
	               tooltip="Copy the currently selected items in the Favorites view">
	        </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.wxp.favorites.menus.PropertiesEditor"
               label="Properties Editor">
            <command
                  commandId="com.wxp.properties.editor.delete"
                  icon="icons/delete_edit.gif">
            </command>
            <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="com.wxp.properties.editor">
                     </equals>
                  </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.wxp.properties.editor.toolbar">
            <command
                  commandId="com.wxp.properties.editor.delete"
                  icon="icons/delete_edit.gif"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.wxp.properties.editor">
                  </equals>
               </with>
            </visibleWhen>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.wxp.favorites.views.FavoritesView?before=edit">
            <command
               commandId="com.wxp.favorites.commands.cut"
               icon="icons/cut_edit.gif"
               tooltip="Cut the currently selected items from the Favorites view">
	        </command>
	        <command
	               commandId="com.wxp.favorites.commands.paste"
	               icon="icons/paste_edit.gif"
	               tooltip="Paste clipboard contents into the Favorites view">
	        </command>
	        <command
	               commandId="com.wxp.favorites.commands.copy"
	               icon="icons/copy_edit.gif"
	               tooltip="Copy the currently selected items in the Favorites view">
	        </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.wxp.favorites.handlers.OpenFavoritesViewHandler"
            commandId="com.wxp.favorites.commands.openView">
      </handler>
      <handler
            class="com.wxp.favorites.handlers.AddToFavoritesHandler"
            commandId="com.wxp.favorites.commands.add">
      </handler>
      <handler
            class="com.wxp.favorites.handlers.CopyFavoritesHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.wxp.favorites.views.FavoritesView">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.wxp.favorites.handlers.CopyFavoritesHandler"
            commandId="com.wxp.favorites.commands.copy">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.wxp.favorites.handlers.CutFavoritesHandler"
            commandId="org.eclipse.ui.edit.cut">
        <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.wxp.favorites.views.FavoritesView">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
       <handler
            class="com.wxp.favorites.handlers.CutFavoritesHandler"
            commandId="com.wxp.favorites.commands.cut">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.wxp.favorites.handlers.PasteFavoritesHandler"
            commandId="com.wxp.favorites.commands.paste">
              <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.wxp.favorites.views.FavoritesView">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.wxp.favorites.handlers.PasteFavoritesHandler"
            commandId="com.wxp.favorites.commands.paste">
      </handler>
      <handler
            class="com.wxp.favorites.handlers.RenameFavoritesHandler"
            commandId="com.wxp.favorites.commands.rename">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.wxp.favorites.handlers.DeletePropertiesHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="com.wxp.properties.editor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.wxp.favorites.handlers.DeletePropertiesHandler"
            commandId="com.wxp.properties.editor.delete">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.wxp.favorites.handlers.DeleteResourcesHandler"
            commandId="com.wxp.favorites.commands.delete">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
   </extension>
    <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.wxp.favorites.workbenchActionSet"
            label="Favorites ActionSet"
            visible="true">
         <menu
               id="com.wxp.favorites.workbenchMenu"
               label="Fa&amp;voritesA"
               path="additions">
         </menu>
         <action
               class="com.wxp.favorites.actions.OpenFavoritesViewActionDelegate"
               icon="icons/sample.png"
               id="com.wxp.favorites.openFavoritesView"
               label="Open Favo&amp;rites View A"
               menubarPath="com.wxp.favorites.workbenchMenu/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Open the favorites view in the current workbench page">
         </action>
      </actionSet>
   </extension>
      <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.wxp.favorites.propertyTester.FavoritesTester"
            id="com.wxp.favorites.propertiesTester"
            namespace="com.wxp.favorites"
            properties="isFavorite, notFavorite"
            type="java.lang.Object">
      </propertyTester>
   </extension>
      <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.wxp.properties.editor.context"
            name="Properties Editor Context"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.wxp.favorites.commands.add"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+A">
      </key>
      <key
            commandId="com.wxp.properties.editor.delete"
            contextId="com.wxp.properties.editor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.wxp.favorites.editors.PropertiesEditor"
            contributorClass="com.wxp.favorites.editors.PropertiesEditorContributor"
            default="false"
            extensions="properties"
            icon="icons/sample.png"
            id="com.wxp.properties.editor"
            name="Properties Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.wxp.favorites.popupMenu"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.wxp.favorites.actions.AddToFavoritesActionDelegate"
               enablesFor="+"
               icon="icons/sample.png"
               id="com.wxp.favorites.addToFavorites"
               label="Add"
               menubarPath="com.wxp.favorites.popupSubMenu/content"
               tooltip="Add the selected resource(s) to the Favorites view">
         </action>
         <menu
               id="com.wxp.favorites.popupSubMenu"
               label="Favorites"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
      </objectContribution>
      <viewerContribution
            id="com.wxp.favorites.membersViewPopup"
            targetID="org.eclipse.jdt.ui.MembersView">
         <menu
               id="com.wxp.favorites.membersViewPopupSubMenu"
               label="Favorites"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="com.wxp.favorites.actions.AddToFavoritesActionDelegate"
               id="com.wxp.favorites.addToFavoritesInMembersView"
               label="Add"
               menubarPath="com.wxp.favorites.membersViewPopupSubMenu/content"
               tooltip="Add selected member&apos;s compilation unit to the Favorites view">
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.wxp.favorites.compilationUnitEditorPopup"
            targetID="#CompilationUnitEditorContext">
         <menu
               id="com.wxp.favorites.compilationUnitEditorPopupSubMenu"
               label="Favorites"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="com.wxp.favorites.actions.AddToFavoritesActionDelegate"
               id="com.wxp.favorites.addToFavoritesInCompilationUnitEditor"
               label="Add"
               menubarPath="com.wxp.favorites.compilationUnitEditorPopupSubMenu/content">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.wxp.favorites.membersViewActions"
            targetID="org.eclipse.jdt.ui.MembersView">
         <action
               class="com.wxp.favorites.actions.AddToFavoritesActionDelegate"
               icon="icons/sample.png"
               id="com.wxp.favorites.addToFavoritesInMembersView"
               label="Add"
               menubarPath="com.wxp.favorites.membersViewPulldownSubMenu/content"
               style="push"
               toolbarPath="additions"
               tooltip="Add the selected items in the Members view to the Favorites view">
         </action>
         <menu
               id="com.wxp.favorites.membersViewPulldownSubMenu"
               label="Favorites"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.wxp.favorites.compilationUnitEditorActions"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor">
         <menu
               id="com.wxp.favorites.compilationUnitEditorPopupSubMenu"
               label="Favorites"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="com.wxp.favorites.actions.AddToFavoritesActionDelegate"
               definitionId="com.wxp.favorites.commands.add"
               icon="icons/sample.png"
               id="com.wxp.favorites.addToFavoritesInCompilationUnitEditor"
               label="Add"
               menubarPath="com.wxp.favorites.compilationUnitEditorPopupSubMenu/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Add the editor selection to the Favorites view">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.wxp.favorites.perspectives.FavoritesPerspectiveFactory"
            icon="icons/sample.png"
            id="com.wxp.favorites.FavoritesPerspective"
            name="Favorites">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.wxp.favorites.views.FavoritesView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList"
               visible="true">
         </view>
         <viewShortcut
               id="com.wxp.favorites.views.FavoritesView">
         </viewShortcut>
         <perspectiveShortcut
               id="com.wxp.favorites.FavoritesPerspective">
         </perspectiveShortcut>
         <actionSet
               id="com.wxp.favorites.workbenchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   


</plugin>
